<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179465372710-u9os7tbmmn0q7oh7tt9mt9p4msse8q7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179465372710-u9os7tbmmn0q7oh7tt9mt9p4msse8q7l</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzXCWjNpbUcI21P-ir5CcKaBhs0RIcpg</string>
	<key>GCM_SENDER_ID</key>
	<string>179465372710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-e0e24</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-e0e24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179465372710:ios:f03c593446b807ca6f52e7</string>
</dict>
</plist>